
* { 
    padding: 0;
    margin: 0;
}
body {
    direction: rtl;
    overflow-x: hidden;
    box-sizing: border-box;
}
nav {
    width: 100%;
    background-color: #f7f0e8;
    box-shadow: 0 4px 20px -2px rgba(0,0,0,.2); 
}
#nav-style {
    text-decoration: none;
    color: #0c1442;
    font-weight: 500;
}
#nav-style:hover {
    color: #1F4594;
}
.navbar-brand {
    padding-right: 30px;
}

#collapsibleNavbar {
    text-align: right;
}
.dropdown-menu {
    display: none;
    padding: 0 30px;
    margin: 0;
    width: 300px;
    border: none;
    background-color: #f7f0e8;
}
.dropdown-menu a{
    width: 100%;
    text-align: right;
    background-color: #f7f0e8;
    border-bottom: 1px solid #1F4594;
    color: #15226b;
    font-weight: bold;
    padding: 7px 20px;
}
.dropdown-menu a:hover {
    color: #1F4594;
}
 
li.dropdown:hover > .dropdown-menu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#tagline-image {
    float: right;
}

.categories h2 {
    margin: 50px 0 10px 0;
}
.categories .card {
    border: none;
    padding: 0px;
}
.categories .card-body {
    text-align: center;
}
.categories .card-body a {
    color: #0c1442;
    text-decoration: none;
}
.categories .card-body img {
    width: 100%; 
    height: 130px;
}
.categories .card-title {
    text-align: center;
    margin-top: 8px;
}
.card-body p, #buy-page-container p {
    font-weight: bold;
    font-size: 18px;
}
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-contact a{
    padding: 5px;
    color: #0c1442;
}

#buy p {
    line-height: 0.5;
}
.banner {
    text-align: center;
    align-items: center;
    position: relative;
    top: 80px;
    width: 100%;
    margin-bottom: 130px;
    background-color: #f7f0e8;
}
.search-box input[type=text] {
    width: 280px;
    padding: 5px;
    border: 1px solid #1F4594;
    border-radius: 5px;
    background-color: #f7f0e8;
    outline: none;
  }
  
.search-button {
    position: relative;
    left: 30px;
    color: #1F4594;
    background-color: #f7f0e8;
    border: none;
    cursor: pointer;
} 
#profile {
    width: 50px;
    height: 50px;
    padding: 0;
    
    margin: 0 15px 0 30px;
    border: none;
    border-radius: 50%;
}
.error {
    font-size: smaller;
    width: 75%;
    padding: 0;
    margin: 0 auto;
}

.profile-image {
    width: 50px;
    height: 50px;
    background-image: url("../SNMZ_photos/profile.jpg");
    background-size: cover;
    border: 1px solid #ccc;;
    border-radius: 100%;
}
#collapsibleProfile {
    display: none;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    background-color: #f7f0e8;
    transition: 1.2s ease;
}
#collapsibleProfile ul {
    float: left;
    padding: 2px;
}
#collapsibleProfile ul li {
    list-style: none;
    width: 180px;
    padding: 10px 40px;
    text-align: center;
}
#collapsibleProfile ul li a {
    text-decoration: none;
    color: #0c1442;
    font-weight: bold;
}
.carousel-item {
    background-color: #f7f0e8;
    width: 100%;
    padding: 20px;
}
#slide-show {
    width: 60%;
}
.best-sold-item img{
    width: 50%;
    height: 350px;
    float: left;
    padding: 20px;
    text-align: center;
}
.details {
    width: 50%;
    text-align: right;
    padding: 20px 20px 20px 10px;    
}
.details h4 {
    font-weight: bold;
    margin-bottom: 15px;
}

.container h3{
    font-weight: bold;
}

.item-price {
    font-weight: 700;
}
.category-items h5 {
    font-size: medium;
}

.item-details {
    color: #1F4594;
    font-weight: bold;
}
 .buy-button-category, .buy-modal-button, .add-to-favorite, .confirm-button {
    width: 90%;
    position: relative;
    margin-top: 20px;
    left: 5%;
    padding: 5px;
    text-align: center;
    border: none;
    background-color: #1F4594;
    color: #fff;
    border-radius: 6px;
}
.details .buy-button{
    position: absolute;
    bottom: 15%;
    padding: 5px;
    text-align: center;
    border: none;
    background-color: #1F4594;
    color: #fff;
    border-radius: 6px;
    width: 40%;
    margin-top: 10px;
}
.confirm-button {
    width: 50%;
    left: 0;
}
.buy-button-category {
    width: 80%;
    position: absolute;
    bottom: 5%;
    left: 10%;
}
.add-to-favorite {
    position: initial;
    width: 70%;
    background-color: #f7f0e8;
    color: #1F4594;
    font-weight: bold;
    margin-top: 10px;
}
.buy-modal-button {
    position: initial;
    width: 70%;
}

.customer-numbers {
    background-color: #f7f0e8;
    padding: 50px 0;
    margin: 0 auto;
}
.customer-numbers .row {
    width: 82%;
    margin: 0 auto;
}

.customer-numbers .box {
    width: 20%;
    margin: 2% 2% 3% 3%;
    height: 170px;
    background-color: #f7f0e8;
    border: 1px solid #1F4594;
    border-radius: 3%;
    text-align: center;
    padding: 4%;
}

.customer-numbers img {
    width: 50px;
    height: 50px;
    padding-bottom: 10px;
}
.customer-numbers h4 {
    color: #1F4594;
    font-size: 20px;
}

.map {
    width: 100%;
    padding: 0;
    margin: 0;
}
.map iframe {
    width: 100% !important;
    height: 100% !important;
    padding: 0;
    margin: 0;
}
.shopping h4 {
    padding-bottom: 30px;
}


main {
    background-color: #f7f0e8;
}
#category-page-container {
    padding: 80px 0;
}

#buy-page-container {
    padding: 160px 0;
}
#category-page-container .row {
    width: 90%;
    margin: 0 auto;
}
#buy-page-container .row, .selected-item-details {
    width: 90%;
    margin: 0 auto;
}

#category-page-container .card{
    height: 570px;
}
.category-items img {
    width: 90%;
    height: 200px;
}

.star-widget .fa-star {
    color: #fd4;
}

.catagory-details {
    width: 80%;
    margin: 0 auto;
    padding: 30px;
    font-size: large;
    text-align: right;
}
.catagory-details p {
    margin-bottom: 2px;
}
.show-more-results-btn {
    width: 80%;
    padding: 2px;
    background-color: #1F4594;
    color: #fff;
    border: none;
    border-radius: 6px;
    margin: 0 auto;
}

/* buy-page */

.selected-item-details {
    background-color: #fff;
    padding: 80px;
}
.selling-item-image {
    text-align: center;
    align-items: center;
}
.selling-item-image img {
    width: 85%;
    margin-top: 30px;
}
.selected-item-details h5 {
    font-size: medium; 
    font-weight: bold;
}
.about-this-item {
    padding: 10px 40px;

}
.about-this-item li {
    text-align: justify;
}

#buy-page-container .card {
    height: 570px;
}
.s {
    text-align: center;
    margin-top: 30px;
}
#buy-page-container h3 {
    display: inline;
    margin: 0 auto;
    text-align: center;
    color: #15226b;
    border-bottom: 1px solid #1F4594;
}

footer a {
    text-decoration: none;
    color: #fff;
}
footer a:hover {
    text-decoration: none;
    color: #fff;
}
footer .row {
    align-items: center;
}

footer .row div {
    justify-content: center;
}
footer .card {
    background-color: #0c1442;
}
footer .contact-us img {
    height: 40px;
    margin: 0 20px 0 5px;  
}
footer .social-links img {
    height: 40px;
    margin: 5px;
}

footer .call-us {
    border-right: 2px solid #fff;
    border-left: 2px solid #fff;
}

/* profile page */

.profile-page-image {
    width: 80px;
    height: 80px;
    background-image: url("SNMZ_photos/profile.jpg");
    background-size: cover;
    border-radius: 80px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
.signup-content {
  display: flex;
  justify-content: center;
  align-items: center; 
  width: 30vw;
  margin: 0 auto;
  height: 100vh;
}
.signup-form {
  display: flex;
  justify-content: center;
  align-items: center; 
  overflow-x: hidden;
  width: 90%;
  height: 100%;
  text-align: center;
  align-items: center;
}

.form-group {
  width: 100%;
  border: 1px solid #1F4594;
  background-color: #f7f0e8;
  border-radius: 4px;
  padding: 5px;
  margin: 5px 0;
  outline: none;
  box-sizing: border-box;
}
.form-submit {
    display: inline-block;
    border-radius: 25px;
    cursor: pointer;
    background: #0c1442;
    color: #fff;
    border: none;
    padding: 8px 50px;
    margin-top: 10px;
}

@media screen and (max-width: 1000px) {
    .navbar-collapse {
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        background-color: #f7f0e8;
        padding: 0 20px 20px 20px;
    }

    #header-search-box {
        margin: 20px;
    }
    #slide-show {
        width: 90%;
    }
    .categories .card {
        padding: 20px;
    }
    .categories h2 {
        margin: 50px 0 0 0;
        padding: 0;
    }
    .customer-numbers .row{
        width: 70%;
    }
    .customer-numbers .box {
        margin: 5%;
        width: 40%;
        padding: 6%;
    }
    footer .contact-us div {
        padding: 10px;
    }
    footer .call-us {
        border-left: none;
        border-right: none;
        border-top: 2px solid #fff;
        border-bottom: 2px solid #fff;
    }
    .profile-image {
        margin: 0;
    }

    /* profile page */
    .signup-content {
        width: 50vw;
    }
    .signup-form {
        width: 90%; 
    }
    .form-group {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    #header-search-box {
        margin: 10px;
    }

    .card-body {
        width: 80%;
        margin: 0 auto;
    }
    #slide-show {
        width: 90%;
    }
    .best-sold-item img{
        width: 100%;
        height: initial;
        text-align: center;
    }
    .details {
        width: 100%;
        text-align: right;
        padding: 20px 20px 20px 10px;    
    }
    .details .buy-button {
        position: static;
        width: 100%;
    }

    .customer-numbers .row{
        width: 90%;
    }
    .customer-numbers .box {
        width: 38%;
        height: 150px;
    }
    .shopping h2 {
        font-size: 1.5rem;
        font-weight: 700;
    }
    .shopping h4 {
        font-size: 1.2rem;
        padding: 0 70px;
        padding-bottom: 20px;
    }
    li.dropdown:hover > .dropdown-menu {
        flex-wrap: initial;
        height: 300px;
        overflow: hidden;
    }

    #category-page-container .row {
        width: 80%;
    }

    .buy-modal-button {
        width: 100%;
    }
    .add-to-favorite {
        width: 100%;
        margin-bottom: 20px;
    }

    #buy-page-container .s h3 {
        width: 80%;
    }

    .selected-item-details {
        padding: 10px;
    }

    /* profile page */
    .signup-content {
        width: 70vw;
      }
      .signup-content {
        height: 100vh;
      }
    
}
@media screen and (max-width: 580px) {
    .card-body {
        width: 100%;
    }

}
  